trusted_server = "198.162.52.26"
--trusted_server = "10.0.0.1"
port = 3490
replace_char = "#"
version = 1

function policy( op )
	res = false;	
	pol_changed = false;	

	-- OPEN
	if op == 0 then
		pol_changed = checkpolicychange( version );
	-- READ
	elseif op == 1 then 
	-- WRITE
	elseif op == 2 then
	-- DECLASSIFY
	elseif op == 3 then
	end 

	return res, pol_changed;
end
