trusted_server = "198.162.52.244"
port = 3490
replace_char = "#"

-- EHR Patient policy features:
	-- Crediential based redaction:
		-- If it's the doctor, then the personal information can be redacted
		-- If it's the insurer, some medical/pre-disposed illnesses can be redacted
	-- Remote deletion if the doctor and insurer of this device are not the same as the current ones

redact_doc = {47, 82};
redact_insurer = {116, 117, 128, 133};
redact_watermark = {134, 143};
redact = {};

function policy( op )
	res = true;
	pol_changed = false;

	-- OPEN
	if op == 0 then
		local local_doct = getlocalstate( "doctor" );
		local local_insurer = getlocalstate( "insurer" );
		local remote_doct = getserverstate( "current_doctor" );
		local remote_insurer = getserverstate( "current_insurer" );

		if ( remote_doct ~= local_doct ) and ( remote_insurer ~= local_insurer ) then
			print("Deleting!");
		 	delete();
		end 
	-- READ
	elseif op == 1 then
		local credential = getlocalstate( "cred" );
		if credential == "doct" then 
			print("Redact doctor");
			redact = redact_doc; 
		elseif credential == "insu" then
			print("Redact insurer");
			redact = redact_insurer;
		elseif credential == "patient" then
			print("Patient, redact watermark");
			redact = redact_watermark;
			replace_char = " "
		else
			print("No credientials!");
			res = false; -- Only the doctor, insurer, and patient should read the document
		end
	-- WRITE
	elseif op == 2 then
		-- Append only 
		if getdataoffset() < getfilesize() then
			res = false;
		end
	-- DECLASSIFY
	elseif op == 3 then
	-- CLOSE
	elseif op == 4 then
		res = true;
	end 

	return res, pol_changed;
end
