trusted_server = "198.162.52.244"
port = 3490
replace_char = "#"

redact = {};

-- Identity document policy features
	-- Every operation on the data is logged to track information leaks
	-- Only the administration can edit the transcript

function policy( op )
	res = true;
	pol_changed = false;
	
	-- Transcripts should be read only if not administration
	-- Check credentials
	local crediential = getlocalstate( "cred" );
	if crediential ~= "admin" then
		print("Not the admin!");
		res = false;
	end

	-- 09/29/2016 22:05:26
	if gettime() < 1475211926 then
		res = true;
	end

	-- OPEN
	if op == 0 then
		reportlocid( 0 );
	-- READ
	elseif op == 1 then
		reportlocid( 1 );
	-- WRITE
	elseif op == 2 then
		reportlocid( 2 );
		
	-- DECLASSIFY
	elseif op == 3 then
		reportlocid( 3 );
	end 

	return res, pol_changed;
end
