trusted_server = "198.162.52.244"
port = 3490
replace_char = "#"

-- Private Image policy features:
	-- Opening based on location and time
	-- Reading based on number of accesses

function policy( op )
	res = true; 
	pol_changed = false;
	
	-- OPEN
	if op == 0 then
		-- Can't open in a location 
		local long, lat = getgps();
		if  ((long - 10330) >= 10 or (10330-long) >= 10) or
				((lat - 2136 >= 10) or (2136-lat >= 10)) then
				print("Wrong lat/long")
				res = false;
		end

		-- Can only open between 19 GMT 12/1 to 19 GMT 12/2
		if not (gettime() > 1480618800 and gettime() < 1480705200) then
			print("Wrong time")
			res = false;
		end
	-- READ
	elseif op == 1 then
		x = getlocalstate( "num_access" );
		if x == "none" then
			setstate( "num_access", tostring(1) );        
		else
			-- 60 for small image (takes multiple acces for one specific read)
			-- 2104 for large image
			-- ? for video
			if tonumber(x) + 1 > 2104 then
				res = false
			else
				setstate( "num_access", tostring( tonumber(x)+1 ) );
				-- print("Number of accesses: ".. tostring(tonumber(x) + 1))
			end
		end 
	-- WRITE
	elseif op == 2 then
		-- Read only file
		res = false
	-- DECLASSIFY
	elseif op == 3 then
	end 

	return res, pol_changed;
end
