trusted_server = "198.162.52.244"
port = 3490
replace_char = "#"

-- Private Image policy features:
	-- Reading based on number of accesses
	-- TODO: Delete if no longer in favor with royal family (remote delete)
	-- Cannot open outside the home

function policy( op )
	res = true; 
	pol_changed = false;
	
	-- Only lawyers can view this policy
	if getlocalstate( "cred" ) ~= "kate" then
		print("Not kate, can't view");
		res = false;
	end

	-- OPEN
	if op == 0 then
		-- Delete if no longer in favor with the family
		local view_status = getserverstate( "allowed_to_view" );
		if ( view_status ~= "true" ) then
			print("Not allowed to view, deleting")
			delete();
		end
	-- READ
	elseif op == 1 then
		x = getlocalstate( "num_access" );
		if x == "none" then
			setstate( "num_access", tostring(1) );        
		else
			-- 60 for small image (takes multiple access for one specific read)
			if tonumber(x) + 1 > 60*50 then
				print("Too many accesses: ".. tostring(tonumber(x) + 1))
				res = false;
			else
				setstate( "num_access", tostring( tonumber(x)+1 ) );
				-- print("Number of accesses: ".. tostring(tonumber(x) + 1));
			end
		end 
	-- WRITE
	elseif op == 2 then
	-- DECLASSIFY
	elseif op == 3 then
	end 

	return res, pol_changed;
end
