-- SENSITIVE FILES CAN BE REMOTELY DELETED (e.g., STOLEN DEVICE).
-- PREVIOUSLY SUCH A SERVICE CAN ONLY BE APPLIED AT WHOLE-DEVICE
-- LEVEL. ONCE THE POLICY UPDATES TO THIS DELETION POLICY, THE 
-- FILE WILL BE DELETED THE NEXT TIME IT IS OPENED. BUT IF DEVICE
-- IS RECOVERED, THE DATA OWNER CAN CHANGE THE POLICY AGAIN TO
-- NOT DELETE THE FILE.

-- API keywords REPLACE WITH CORRECT VALUES
policy_version = 1
remote_server = "198.162.52.244:3490"

-- log
log_open = false
log_close = false

-- return keywords
policy_result = POLICY_NOT_ALLOW
comment = ""

-- policy-specific keywords REPLACE WITH REALISTIC VALUES

function evaluate_policy( op )
	if op == POLICY_OP_OPEN then
		updatePolicy()
		deleteCapsule()
	end
end
