trusted_server = "198.162.52.244"
--trusted_server = "10.0.0.1"
port = 3490
replace_char = "#"

redact1 = {24, 25965};
redact = {};

function policy( op )
	res = true;
	pol_changed = false;

	-- OPEN
	if op == 0 then
		local remote_doct = getserverstate( "current_doctor" );
		local remote_insurer = getserverstate( "current_insurer" );
		if ( remote_doct ~= "1ade" ) and ( remote_insurer ~= "1ade" ) then
			delete();
		end 
	-- READ
	elseif op == 1 then
		local credential = getlocalstate( "cred" );
		local long, lat = getgps();
		if credential ~= "1ade" or 
           ((lat - 2130 > 100)  or (2130 - lat > 100)) or 
           ((long - 1000 > 100) or (1000 - long > 100)) then 
			redact = redact1; 
		end
	elseif op == 2 then
	elseif op == 3 then
	end 

	return res, pol_changed;
end
